:root {
  --mb-16: 16px;
  --mb-18: 18px;
  --mb-32: 32px;
  --mb-64: 64px;
  --mb-96: 96px;
}

.l-block {
  display: block;
}

/* article */
.section-article-body {
  margin-bottom: var(--mb-96);
}

/* main */
.post-list-item {
  margin-top: var(--mb-64);
}

.main {
  margin-bottom: var(--mb-96);
}

@media screen and (max-width: 1023px) {
  .h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  p {
    margin-bottom: 1.5rem;
  }

  .main-heading {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 767px) {
  blockquote {
    font-size: var(--mb-18);
  }
}
